<!DOCTYPE html>
<html>

<head>
  <title>Katelyn Joynt – CV & Portfolio</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Roboto", sans-serif;
    }

    .name-border {
      border: 2px solid white;
      display: block;
      margin-bottom: 8px;
    }

    #pdf-section {
      max-width: 100%;
      margin: 40px 15px auto;
      background-color: white;
      padding: 20px;
    }

    #pdf-frame {
      width: 100%;
      height: 80vh;
      border: 2.5px solid teal;
      box-sizing: border-box;
      overflow: auto;
      display: block;
    }
  </style>
</head>

<body>

  <!-- Page Container -->
  <div class="w3-content w3-margin-top" style="max-width:100%;">
    <!-- Grid -->
    <div class="w3-row-padding" style="display: flex; align-items: stretch; height: 100%;">

      <!-- Left Column -->
      <div class="w3-third" style="height: auto;">
        <div class="w3-white w3-text-grey w3-card-4" style="height: 100%;">
          <div class="w3-display-container">
            <img src="assets/images/CV_photo.jpg" alt="Avatar Katelyn Joynt"
              style="width:100%; border: 4px solid white; border-radius: 1px;" />
            <div class="w3-display-bottomleft w3-container" style="padding: 0;">
              <div class="name-overlay" title="Hey, that's me! Psst... I love Easter Eggs">Katelyn Joynt</div>
            </div>

          </div>
          <div class="w3-container">
            <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Student at North-West
              University (NWU)</p>
            <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Potchefstroom, North-West</p>
            <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>katelynjoynt01&#64;gmail.com
            </p>
            <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>(+27) 79 177 5306</p>
            <hr />

            <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
            <p>HTML</p>
            <div class="w3-light-grey w3-round-xlarge w3-small mb-2">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:100%">100%</div>
            </div>
            <p>CSS</p>
            <div class="w3-light-grey w3-round-xlarge w3-small mb-2">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:100%">100%</div>
            </div>
            <p>Git & Version Control</p>
            <div class="w3-light-grey w3-round-xlarge w3-small mb-2">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:85%">85%</div>
            </div>
            <p>Angular</p>
            <div class="w3-light-grey w3-round-xlarge w3-small mb-2">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">75%</div>
            </div>
            <p>TypeScript</p>
            <div class="w3-light-grey w3-round-xlarge w3-small mb-2">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:70%">70%</div>
            </div>
            <p>JavaScript</p>
            <div class="w3-light-grey w3-round-xlarge w3-small mb-2">
              <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:40%">40%</div>
            </div>
            <br />

            <p class="w3-large w3-text-theme"><b><i
                  class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
            <p>English</p>
            <div class="w3-light-grey w3-round-xlarge" style="box-shadow: inset 0 0 5px #888;">
              <div class="w3-container w3-round-xlarge"
                style="height:30px; width:100%; background: linear-gradient(90deg, teal, teal,#616161,rgb(180, 180, 180)); color: white; display: flex; align-items: center; justify-content: center;">
                Fluent
              </div>
            </div>
            <p>Afrikaans</p>
            <div class="w3-light-grey w3-round-xlarge" style="box-shadow: inset 0 0 5px #888;">
              <div class="w3-container w3-round-xlarge"
                style="height:30px; width:100%; background: linear-gradient(90deg, teal, teal,#616161,rgb(180, 180, 180)); color: white; display: flex; align-items: center; justify-content: center;">
                Fluent
              </div>
            </div>
            <br />
            <p class="w3-large w3-text-theme"><b><i class="fa fa-user fa-fw w3-margin-right w3-text-teal"></i>About
                Me</b></p>
            <p>
              I am a passionate IT student at North-West University, eager to learn and grow in software development,
              especially in web technologies like Angular and TypeScript. I enjoy coding, problem-solving, and
              contributing
              to real-world projects.
            </p>
          </div>
        </div>
        <br />

        <!-- End Left Column -->
      </div>

      <!-- Right Column -->
      <div class="w3-twothird" style="height: 100%;">

        <div class="w3-container w3-card w3-white w3-margin-bottom">
          <h2 class="w3-text-grey w3-padding-16"><i
              class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>

          <div class="w3-container">
            <h5 class="w3-opacity"><b>Temporary Employee (Contract) at IT Applications Department, Senwes Limited</b>
            </h5>
            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>June 2025 – July 2025</h6>
            <p>
              Developed a PDF encryption web application using Angular and integrated API services to securely
              encrypt PDF files uploaded via the website. Enabled users to download encrypted PDFs individually or
              as zipped archives. Successfully deployed the app on Senwes' intranet, where it remains live and
              actively used.
            </p>
            <hr />
          </div>

          <div class="w3-container">
            <h5 class="w3-opacity"><b>Job Shadowing at IT Applications Department, Senwes Limited</b></h5>
            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>June 2024</h6>
            <p>
              Assisted in understanding business processes and enterprise IT structures. Collaborated with developers
              and IT leads. Participated in testing and project meetings.
            </p>
            <hr />
          </div>
        </div>

        <div class="w3-container w3-card w3-white">
          <h2 class="w3-text-grey w3-padding-16"><i
              class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>

          <div class="w3-container">
            <h5 class="w3-opacity"><b>Bachelor of Science in Information Technology (In Progress)</b></h5>
            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2023 – Present</h6>
            <p>North-West University, Potchefstroom, South Africa</p>
            <hr />
          </div>

          <div class="w3-container">
            <h5 class="w3-opacity"><b>National Senior Certificate (Matric) with 4 Distinctions</b></h5>
            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2022</h6>
            <p>Hoërskool Wesvalia, Klerksdorp, South Africa</p>
            <hr />
          </div>
        </div>

        <div class="w3-container w3-card w3-white w3-margin-top">
          <h2 class="w3-text-grey w3-padding-16"><i
              class="fa fa-graduation-cap fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Courses & Certifications
          </h2>

          <div class="w3-container">
            <h5 class="w3-opacity"><b>Getting Started with Cisco Packet Tracer</b></h5>
            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2025</h6>
            <p>Networking Academy (Online Course)</p>
            <hr />
          </div>

          <div class="w3-container">
            <h5 class="w3-opacity"><b>Introduction to Cyber Security</b></h5>
            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2024</h6>
            <p>Simplilearn SkillUp (Online Course)</p>
            <hr />
          </div>
        </div>

        <!-- Projects Section -->
        <div class="w3-container w3-card w3-white w3-margin-top w3-padding-16">
          <h2 class="w3-text-grey w3-padding-bottom">
            <i class="fa fa-folder-open fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>
            Projects
          </h2>

          <ul class="w3-ul">
            <li>
              <a href="https://github.com/BlitzCafe/CMPG223_Group_Assignment" target="_blank" rel="noopener noreferrer"
                class="w3-text-teal" style="font-weight:bold;">
                BlitzCafe
              </a>
              <p>The BlitzCafe Digital Management System was created to help the café run more smoothly by automating daily tasks. It allows managers to manage menu items, track employees’ working hours, and keep customer details up to date. The system also handles orders, payments, and loyalty points. It provides useful reports, like showing the top-selling dishes, to help the café make better business decisions.</p>
            </li>
            <li>
              <p class="w3-text-teal" style="font-weight:bold;">
                PDF Protector Web App
              </p>
              <p>A web application built with Angular to securely upload, encrypt, and download PDF files. Syncfusion and other Angular libraries were used to create a user-friendly interface. The system connects to a secure API for encryption and allows files to be downloaded individually or as a zip archive. Successfully deployed on the company’s intranet, where it is actively used.</p>
            </li>
          </ul>
        </div>


        <div class="w3-container w3-card w3-white w3-margin-top w3-padding-16">
          <h2 class="w3-text-grey w3-padding-bottom ">
            <i class="fa fa-heart fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>
            Other Interests & Hobbies
          </h2>

          <ul class="w3-ul">
            <li><i class="fa fa-futbol-o w3-margin-right w3-text-teal w3-padding-16"></i>Field Hockey – Competed for
              several years at
              school level</li>
            <li><i class="fa fa-users w3-margin-right w3-text-teal w3-padding-16"></i>Youth & Community Service –
              Involved at school
              level</li>
            <li><i class="fa fa-heartbeat w3-margin-right w3-text-teal w3-padding-16"></i>Fitness, Running, and Trail
              Running</li>
            <li><i class="fa fa-code w3-margin-right w3-text-teal w3-padding-16"></i>Coding – Building small-scale
              projects using
              Angular, TypeScript, HTML/CSS</li>
            <p></p>
          </ul>

        </div>

        <!-- End Right Column -->
      </div>

      <!-- End Grid -->
    </div>
  </div>

  <section id="pdf-section" class="w3-container w3-card w3-white w3-margin-top w3-padding-16">
    <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-file-pdf-o w3-margin-right w3-text-teal"></i>Curriculum Vitae
    </h2>
    <iframe id="pdf-frame" src="assets/pdfs/K_Joynt_CV_2025.pdf" title="PDF Document"></iframe>
  </section>

  <footer class="w3-container w3-center w3-margin-top footer-social">
    <p class="footer-title">Find me on social media!</p>
    <a href="https://www.facebook.com/katelynjoynt04/" target="_blank" rel="noopener noreferrer">
      <i class="fa fa-facebook-official social-icon w3-text-white"></i>
    </a>
    <a href="https://www.instagram.com/_katelyn_joynt_/" target="_blank" rel="noopener noreferrer">
      <i class="fa fa-instagram social-icon w3-text-white"></i>
    </a>
    <a href="https://www.linkedin.com/in/katelyn-joynt-352283366/" target="_blank" rel="noopener noreferrer">
      <i class="fa fa-linkedin social-icon w3-text-white"></i>
    </a>
    <a href="https://github.com/domkoekie" target="_blank" rel="noopener noreferrer">
      <i class="fa fa-github social-icon w3-text-white"></i>
    </a>
  </footer>


</body>

</html>